@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.eot');
    src: url('fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*
{
	font-family: 'ralewayregular', 'ralewaythin', Verdana, Arial, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
}

form
{
    font-family: 'ralewayregular', 'ralewaythin', Verdana, Arial, "Trebuchet MS", sans-serif;
}

body
{
    width: 100%;
}

/*
Palette de couleurs
bleu: #0065FC;
bleu clair: #DEEBFF;
gris: #F2F2F2;
*/


/*GENERAL*/

/*body
{
	width: 95%;
	margin: auto;
    margin-bottom: 50px;
}*/

#main_wrap
{
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    /*bordure pour debug*/
    /*border: solid 1px black;*/
}

h1, h3
{
    font-size: 1.5em;
    font-weight: bold;
}

h2, p
{
    font-size: 1em;
    font-weight: normal;
}

h4
{
    font-size: 1.1em;
    font-weight: bold;
}

h5
{
    font-size: 0.95em;
    margin: 0;
    font-weight: bold;
}

/*HEADER*/

header
{
    width: 92%;
    max-width: 92%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

header a
{
    font-size: 1.1em;
}

nav
{
    flex: 2;
}

nav ul
{
    list-style-type: none;
    display: flex;
}


nav a
{
    color: black;
    text-decoration: none;
    margin-right: 40px;
    padding-right: 10px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 59px;
    margin-top: -59px;
}

nav a:hover
{
    border-top: solid 2px #0065FC;
    color: #0065FC;
}

#logo_container
{
    flex: 7;
}

#logo
{
    width: 12%;
}

#logo img
{
    width: 100%;
    height: auto;
    float: left;
}

/*#inscription
{
    flex: 1
}*/

#inscription a
{
    color: #0065FC;
    text-decoration: none;
    margin-left: 50px;
}

/*TITRE*/

#titre h1
{
    margin-bottom: 0px;
    width: 50%;
}


/*BARRE DE RECHERCHE*/

#recherche
{
    width: 92%;
    max-width: 92%;
    margin: auto;
    height: 350px;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_container
{
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 50px;
    border: solid 1px #F2F2F2;
    border-radius: 10px;
}

.icon_box
{
    background: #F2F2F2;
    color: black;
    min-width: 50px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.icon
{
    margin: auto;
    padding: 30%;
}

.input_field
{
    outline: none;
    flex: 14;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    border: 0;
    padding-left: 5%;
}

.input_submit
{
    outline: none;
    background-color: #0065FC;
    color: white;
    flex: 6;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-style: none;
}

/*FILTRES*/

#filtres
{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.filtre
{
    display: flex;
    height: 50px;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    flex-wrap: nowrap;
}

.filtre_icon
{
    background: #F2F2F2;
    color: #0065FC;
    border-radius: 20px;
    padding: 10%;
}


/*NOMBRE RESULTATS*/

#info_result
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info_icon
{
    color: #0065FC;
    border: solid 2px #F2F2F2;
    padding: 10px;
    border-radius: 50%;
}
#info_result p
{
    margin-left: 10px;
}


/*HEBERGEMENTS*/

#hebergements
{
    width: 92%;
    max-width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 700px;
}

#resultats
{
    width: 68%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 40px;
}

#resultats h3
{
    height: 10%;
    /*border: 1px solid black;*/
    margin-block: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

#more_results
{
    height: 10%;
    /*border: 1px solid black;*/
    margin-block: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#more_results a
{
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#hebergements p
{
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 8px;
}

#hebergements h5
{
    margin-bottom: 5px;
}


#grille_logements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 75%;
    /*border: 1px solid black;*/
    width: 100%;
}

.boite_logement
{
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 7px #e4e1e1;
}

.boite_logement .photo
{
    height: 65%;
}

.boite_logement .boite_texte
{
    background: white;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

em
{
    font-style: normal;
    font-weight: bold;
}

.stars
{
    display: flex;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

#cannebiere
{
    background: url('img/small/cannebiere.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -60px;
}

#duport
{
    background: url('img/small/duport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -60px;
}

#mouettes
{
    background: url('img/small/mouettes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -60px;
}

#delamer
{
    background: url('img/small/delamer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}

#panier
{
    background: url('img/small/panier.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -60px;
}

#amina
{
    background: url('img/small/amina.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -190px;
}

#populaire
{
    width: 30%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 40px;
}

#populaire h3
{
    margin-block: 0;
}

#header_populaires
{
    /*border: 1px solid black;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10%;
}

#grille_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
    /*border: 1px solid black;*/
}

.boite_populaire
{
    width: 100%;
    height: 30%;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 7px #e4e1e1;
    display: flex;
    justify-content: space-between;
}

.boite_populaire .photo
{
    width: 35%;
}

.boite_populaire .boite_texte
{
    width: 65%;
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#soleildumatin
{
    background: url('img/small/soleildumatin.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -50px;
}

#coeurdeleau
{
    background: url('img/small/coeurdeleau.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -50px;
}

#bleublanc
{
    background: url('img/small/bleublanc.jpg');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 0px -30px;
}

/*ACTIVITES*/

#activites
{
    width: 92%;
    max-width: 92%;
    margin: auto;
    height: 650px;
    padding-bottom: 50px;
}

#activites h3
{
    margin-top: 80px;
    margin-bottom: 50px;
}

#grille_activites
{
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.boite_activite
{
    border-radius: 15px;
    box-shadow: 5px 5px 7px #e4e1e1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col_mono .boite_activite
{
    height: 100%;
}

.col_mono
{
    width: 23%;
}

#col_deux, #col_quatre
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 23%;
}

#activites .boite_texte
{
    height: 65px;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

#vieuxport
{
    background: url('img/small/vieuxport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -150px;
}

#pomegues
{
    height: 55%;
    background: url('img/small/pomegues.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -200px;
}

#frioul
{
    height: 35%;
    background: url('img/small/frioul.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -70px;
}

#calanques
{
    background: url('img/small/calanques.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -160px;
}

#notredame
{
    height: 43%;
    background: url('img/small/notredame.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
}

#longchamp
{
    height: 47%;
    background: url('img/small/longchamp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -70px;
}

/*FOOTER*/

footer
{
    height: 300px;
    background-color: #F2F2F2;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    padding-top: 3%;
}

footer div
{
    width: 32%;
}

footer ul
{
    font-size: 1.1em;
    list-style-type: none;
    padding-inline: 0;
}

footer a
{
    color: black;
    text-decoration: none;
}

footer li
{
    margin-bottom: 20px;
}

footer h4
{
    margin-block: 0;
    margin-bottom: 30px;
}

